#main{
    margin: auto;
}

#main h1{
    font-size: 6rem;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 50px;
}

#navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40PX;
}

#navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 10px;
}

#navbar a:hover{
    background-color: #caf0f8;
    color: #06D6A0;
    border-radius: 10px;
}

#navbar div{
    align-items: center;
}

#logo{
    width: 150px;
    display: flex;
    align-items: center;
}

#logo img{
    width: 150px;
}

#navbar > div:nth-child(2){
    display: flex;
    justify-content: space-around;
}

#navbar > div:nth-child(3){
    width: 12rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#navbar button{
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
}

#navbar button:nth-child(1){
    background-color: white;
    color: black; 
}

#navbar button:nth-child(1):hover{
    background-color: whitesmoke;
    transition: all 0.3s ease-in;
}

#navbar button:nth-child(2):hover{
    background-color: gray;
    transition: all 0.3s ease-in;
}

#navbar button:nth-child(2){
    background-color: black;
    color: white; 
}


#content{
    width: 90%;
    margin: auto;
    text-align: center;
    gap: 20px;
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "one two three"
    "four five six"
    "seven 0 0";
}

#content div{
    height: 110vh;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    background-color: #BEE3DB;
    color: #004385;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: 'Poppins', sans-serif;
}

#content img{
    width: 100%;
    height: 40%;
    margin-bottom: 15px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
}

#content button{
    width: 130px;
    height: 35px;
    background-color: rgb(235, 125, 15);
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 16px;
}

#content button:hover{
    background-color:peru;
    color: white;
    cursor: pointer;
}

#content div:nth-child(1){
    grid-area: one;
}

#content div:nth-child(2){
    grid-area: two;
}

#content div:nth-child(3){
    grid-area: three;
}

#content div:nth-child(4){
    grid-area: four;
}

#content div:nth-child(5){
    grid-area: five;
}

#content div:nth-child(6){
    grid-area: six;
}

#content div:nth-child(7){
    grid-area: seven;
}

/* Medium screens */
@media all and (min-width: 670px) and (max-width: 994px){
    #main h1{
        font-size: 3rem;
        margin-bottom: 20px;
    }

    #content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "one two"
        "three four" 
        "five six"
        "seven 0";
    }

    #content div{
        height: 110vh;
    }
}

/* Small screens */
@media all and (min-width: 270px) and (max-width: 669px){
    #main h1{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    #content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four" 
        "five"
        "six"
        "seven";
    }

    #content > div{
        height: fit-content;
    }
}