*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40PX;
}

#navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 10px;
}

#navbar a:hover{
    background-color: #caf0f8;
    color: #06D6A0;
    border-radius: 10px;
}

#navbar div{
    align-items: center;
}

#logo{
    width: 150px;
    display: flex;
    align-items: center;
}

#logo img{
    width: 150px;
}

#navbar > div:nth-child(2){
    display: flex;
    justify-content: space-around;
}

#navbar > div:nth-child(3){
    width: 12rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#navbar button{
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
}

#navbar button:nth-child(1){
    background-color: white;
    color: black; 
}

#navbar button:nth-child(1):hover{
    background-color: whitesmoke;
    transition: all 0.3s ease-in;
}

#navbar button:nth-child(2):hover{
    background-color: gray;
    transition: all 0.3s ease-in;
}

#navbar button:nth-child(2){
    background-color: black;
    color: white; 
}

#userName{
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(152, 195, 251);
}

#logoutBtn{
    background-color: transparent;
    color: black; 
}

#logoutBtn:hover{
    background-color: gray;
    color: black; 
    transition: all 0.3s ease-in;
}

#top{
    width: 90%;
    margin: auto;
}

#top > div{
    width: 80%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
}

#top div p{
    width: 20%;
    font-size: 20px;
}

#top > div > h1{
    font-size: 8rem;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#top div img{
    width: 20%;
    height: 5%;
    border-radius: 20px;
}

/* Images */
#images{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#images img{
    width: 25%;
    border: 1px solid black;
    padding: 15px;
}

#images img:nth-child(1){
    border-top-left-radius: 120px;
    border-top-right-radius: 120px ;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

#images img:nth-child(2){
    transform: rotate(15deg);
    border-radius: 20px;
}

#images img:nth-child(3){
    border-radius: 120px 120px 0 0;
}
h3{
    font-weight: lighter;
}

#content{
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}

.headings{
    margin: 100px auto;
    width: 80%;
    text-align: center;
    font-size: 6rem;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#topcontent{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 100px;
}

#topcontent .left{
    width: 55%;
    margin: auto;
    text-align: center;
}

#topcontent .right{
    width: 55%;
    margin: auto;
}

#topcontent img{
    margin: auto;
    width: 55%;
    transform: rotate(-15deg);
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
}

/* MIDDLE CONTENT */
#middle-content{
    width: 100%;
    background-color: rgb(255,250,245);
    display: grid;
    padding: 70px;
    justify-content: center;
    grid-template-areas:
    "one two"
    "three two"
    "three four"
    "three four";
}

#middle-content > div{
    width: 60%;
    margin: auto;
}

#middle-content > div:nth-child(1){
    grid-area: one;
}

#middle-content > div:nth-child(2){
    grid-area: two;
}

#middle-content > div:nth-child(2) img{
    position: relative;
    transform: rotate(20deg); 
    border: 1px solid black;
    padding: 15px;
}

#middle-content > div:nth-child(3){
    grid-area: three;
}

#middle-content > div:nth-child(3) img{
    border-radius: 160px 160px 0 0;
    border: 1px solid black;
    padding: 15px;
}

#middle-content > div:nth-child(4){
    grid-area: four;
}

#middle-content img{
    width: 90%;
}

/* BOTTOM CONTENT */
#bottom-content{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.actList{
    color: gray;
    padding: 10px;
    font-weight: lighter;
}

.actList:hover{
    font-weight: bold;
    color: black;
}

#bottom-content > .left, 
#bottom-content > .right{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#bottom-content > .left{
    width: 120%;
}

#bottom-content > .left h1{
    margin: 30px 0;
    font-size: 1.7rem;
    width: 100%;
}

#bottom-content .line{
    margin: auto;
    width: 1px;
    height: 500px;
    background-color: gray;
}

#bottom-content .left > p:nth-child(1){
    font-size: 18px;
}

#bottom-content .left > h1:nth-child(2) ~ p{
    font-size: 25px;
}

#bottom-content .right{
    align-items: center;
}

#bottom-content .right  h1{
    margin: 50px 0;
    text-align: center;
}

#bottom-content .right  p{
    color: #06D6A0;
    font-weight: bolder;
}

#bottom-content img{
    width: 90%;
    border-radius: 30% 30%;
    border: 1px solid black;
    padding: 15px;
}

/* NEWSLETTER */
#newsletter{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

#newsletter > div:nth-child(1)
{
    width: 20%;
    margin: auto;
    text-align: center;
}

#newsletter > div:nth-child(2)
{
    width: 60%;
    margin: auto;
    text-align: center;
}

#newsletter h3{
    margin: 20px 0;
}
#newsletter h1
{
    font-size: 50px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#newsletter > div:nth-child(3)
{
    width: 15%;
    margin: auto;
    text-align: center;
}

#newsletter img
{
    width: 80%;
}

#newsletter > div:nth-child(3) img{
    position: relative;
    transform: rotate(10deg); 
}

#subBtn{
    padding: 10px;
    border-radius: 13px;
    font-size: large;
    cursor: pointer;
}

#subBtn:hover{
    background-color: lightgray;
}

#subInp{
    width: 40%;
    padding: 12px;
    font-size: large;
    border: none;
    border-bottom: 1px solid gray ;
}

/* CONTACT DETAILS */
#contact-details{
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgb(255,250,245);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    grid-template-areas:
    "five six seven"
    
}

#contact-details > div:nth-child(1){
    width: 30%;
    margin: auto;
    grid-area: five;
    min-width: fit-content;
    padding: 10px;
}

#contact-details .left > h2{
    font-size: large;
    color: gray;
    font-weight: lighter;
    padding: 10px 0;
    font-size: 1.5rem;
}

#contact-details .left p{
    margin: 20px 0;
    font-size: 1.5rem;
}

#contact-details .left > h2:hover{
    color: black;
    font-weight: bolder;
}

#contact-details > .line{
    margin: auto;
    width: 1px;
    height: 50vh;
    background-color: black;
    position: relative;
    transform: rotate(10deg); 
}

.table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    height: auto;
    padding: 20px;
    font-size: 1.5rem;
}

.table > div{
    padding: 10px;
    border-bottom: 1px solid lightgray;
} 

.table h3 {
    text-align: left;
    font-weight: bolder;
}

.table p {
    text-align: right;
}

#contact-details h1{
    font-size: 50px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* FOOTER */
#footer{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
    border-top: 1px solid gray;
    background-color: rgb(255,250,245); 
    text-align: center;
}

#footer div {
    display: flex;
    justify-content: space-around;
}

/* Media Query for LARGE devices */

@media only screen and (min-width: 769px) and (max-width: 1325px) {
    #contact-details .line{
        display: none;
    }
}

/* Media Query for MEDIUM devices */

@media only screen and (max-width: 768px) {
    .headings{
        font-size: 2.5rem;
    }

    /* NAVBAR */
    #navmenu{
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        z-index: 10;
        background-color: lightblue;
        width: 100vw;
        height: 8vh;
        justify-content: center;
    }

    #navmenu a{
        overflow: auto;
    }

    #navbuttons{
        width: 60%;
    }

    #logo{
        width: 100px;

    }
    
    #logo img{
        width: 100px;
    }

    /* TOP */
    #top > div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #top > div > h1 {
        font-size: 3.5rem;
    }

    #top div img{
        width: 60%;
        height: 5%;
        border-radius: 20px;
    }

    /* IMAGES */
    #images {
        align-content: center;
        flex-wrap: wrap;
        gap: 0px;
        display: flex;
        flex-direction: column;      
    }

    #images img {
        width: 60%;
        margin-bottom: 15px;
    }

    /* TOP CONTENT */
    #topcontent, #middle-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
    }

    #topcontent{
        margin-bottom: 50px;
    }

    #topcontent .right> div:nth-child(1){
        margin-bottom: 30px;
    }

    #topcontent .left, #topcontent .right, #middle-content > div {
        width: 70vw;
        margin: 20px;
    }

    #topcontent img, #middle-content img {
        width: 80%;
        margin-bottom: 50px;
    }

    #middle-content h1 {
        margin-bottom: 15px;
    }

    .line{
        display: none;
    }
 
    /* Bottom Section */
    #bottom-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #bottom-content > .left{
        width: 100%;
    }

    #bottom-content .left > p:nth-child(1){
        font-size: 1rem;
    }

    #bottom-content .left > h1:nth-child(2){
        font-size: 1.5rem;
    }

    #bottom-content .left > h1:nth-child(2) ~ p{
        font-size: 1rem;
    }

    #bottom-content .right  h1{
        font-size: 1.5rem;
        margin: 15px 0;
    }

    /* NEWSLETTER */
    #newsletter{
        flex-direction: column;
        gap: 30px;
    }

    #newsletter h1{
        font-size: 2rem;
        font-weight: lighter;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #newsletter h3{
        font-size: 1em;
        font-weight: lighter;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #newsletter div:nth-child(1){
        width: 8rem;
    }

    #newsletter div:nth-child(2){
        display: flex;
        width: 90%;
        flex-direction: column;
        gap: 6px;
    }

    #newsletter div:nth-child(3){
        width: 8rem;
    }

    #subBtn{
        padding: 8px;
    }

    #subInp{
        width: 90%;
    }

    /* Contact */
    #contact-details .left p{
        font-size: 1rem;
    }

    #contact-details .left h2{
        font-size: 1rem;
    }

    .table{
        font-size: 0.8rem;
        width: 100%;
    }

    /* Footer */
    #footer{
        margin-bottom: 60px;
        flex-direction: column;
        font-size: 1rem;
    }

    #footer p{
        margin: 10px 0;
    }
}

/* Media Query for SMALL devices */

@media only screen and (max-width: 550px) {
    #navmenu a{
        width: auto;
        font-size: 0.65rem;
        overflow: auto;
        padding: 0%;
    }

    #top > div > h1 {
        font-size: 2.5rem;
        font-weight: bolder;
    }
  
    #subBtn{
        font-size: medium;
        padding: 6px;
    }

    #subInp{
        width: 90%;
        padding: 12px;
        font-size: medium;
    }

    .table{
        font-size: 0.8rem;
        width: 100%;
    }

    .table p{
        overflow: auto;
        padding: 5px;
        font-size: 0.6rem;
    }
}