html{
    scroll-behavior: smooth;
}

#navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40PX;
}

#navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 10px;
}

#navbar a:hover{
    background-color: #caf0f8;
    color: #06D6A0;
    border-radius: 10px;
}

#navbar div{
    align-items: center;
}

#logo{
    width: 150px;
    display: flex;
    align-items: center;
}

#logo img{
    width: 150px;
}

#navbar > div:nth-child(2){
    display: flex;
    justify-content: space-around;
}

#navbar > div:nth-child(3){
    width: 12rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#navbar button{
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
}

#navbar button:nth-child(1){
    background-color: white;
    color: black; 
}

#navbar button:nth-child(1):hover{
    background-color: whitesmoke;
    transition: all 0.3s ease-in;
}

#navbar button:nth-child(2):hover{
    background-color: gray;
    transition: all 0.3s ease-in;
}

#navbar button:nth-child(2){
    background-color: black;
    color: white; 
}

.heading{
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Poppins', sans-serif;
}

#desc{
    width: 90%;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    grid-template-areas: 
    "one two"
    "one three"
    "one four"
    "one five";
    margin-bottom: 100px;
    background-color: rgb(250, 235, 221);
}

#desc img{
    width: 100%;
}

#desc > div{
    width: 90%;
}

#desc div:nth-child(1){
    grid-area: one;
}

#desc div:nth-child(2){
    grid-area: two;
}

#desc div:nth-child(3){
    grid-area: three;
}

#desc div:nth-child(4){
    grid-area: four;
}

#desc div:nth-child(5){
    grid-area: five;
    font-weight: bolder;
    color: purple;
}

#games{
    overflow: auto;
    width: auto;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.cover{
    width: 90%;
    margin: auto;
    position: relative;
}

.cover::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

.cover::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

.scroll-images{
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.slides{
    min-width: 300px;
    height: 400px;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
}

.slides::-webkit-scrollbar{
    -webkit-appearance: none;
}

.slides img{
    width: 100%;
    height: 60%;
    border-radius: 15px;
}

.category{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.category > button{
    background-color: rgb(204,229,251);
    color: rgb(36,133,227);
    border-radius: 5px;
    font-weight: bolder;
}

.enterBtn{
    width: 30%;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Pacifico', cursive;
    border: transparent;
    border-radius: 15px;
    background-color: purple;
    color: white;
}

.scrollBtnR{
    width: 60px;
    height: 60px;
}

.scrollBtnL{
    transform: rotate(180deg);
    width: 60px;
    height: 60px;
}

/* Media Query for MEDIUM devices */
@media only screen and (min-width: 769px) and (max-width: 1326px) {
    .cover{
        width: 85%;
    }
}

/* Media Query for MEDIUM devices */
@media only screen and (max-width: 768px) {
    /* NAVBAR */
    #navmenu{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        z-index: 10;
        background-color: lightblue;
        height: 8vh;
        justify-content: center;
    }

    #navmenu a{
        overflow: auto;
    }

    #navbuttons{
        width: 60%;
    }

    #logo{
        width: 30%;
    }

    .heading{
        margin-bottom: 50px;
        font-size: 1.2rem;
    }
    
    #desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-bottom: 50px;
    }

    #games{
        width: 95%;
        margin: auto;
        display: grid;
        margin-bottom: 100px;
    }

    .cover{
        width: 98%;
        overflow: auto;
    }

    #games > div:nth-child(1){
        display: none;
    }

    #games div:nth-child(2){
        grid-area: eight;
    } 

    .prev{
        display: none;
    }

    .category{
        margin-bottom: 5px;
    }

    .enterBtn{
        margin-top: 2px;
    }

    .slides{
        min-width: 250px;
        height: 400px;
        font-size: 1rem;
    } 
}

/* Media Query for SMALL devices */
@media only screen and (max-width: 550px) {
    #navmenu a{
        width: auto;
        font-size: 0.65rem;
        overflow: auto;
        padding: 0%;
    }
}