body{
    background-color: rgb(77, 129, 168);
}

#main{
    display: flex;
    height: 100vh;
    align-items: center;
}

#navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40PX;
}

#navbar div{
    align-items: center;
}

#logo{
    width: 10%;
}

#logo img{
    width: 100%;
}

#navbar > div:nth-child(2){
    width: 45%;
    display: flex;
    justify-content: space-around;
}

#navbar > div:nth-child(3){
    width: 30%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#navbar button{
    width: 40%;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bolder;
}

#navbar button:nth-child(1):hover{
    background-color: gray;
    transition: all 0.5s ease-in;
}

#navbar button:nth-child(1){
    background-color: black;
    color: white; 
}

#myForm{
    margin: auto;
    width: 25%;
    justify-content: center;
    background-color: rgb(198, 230, 231);
    padding: 20px;
    border-radius: 15px;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
}

#myForm p{
    margin-bottom: 20px;
}

#loginBtn{
    width: 90px;
    background-color: blue;
    color: white;
    height: 30px;
    border: 1px transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: large;  
}

#notify{
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

#notify a{
    text-decoration: none;
    font-weight: bolder;
    color: blue;
}

#myForm > .label{
    margin-bottom: 50px;
    font-weight: bolder;
    text-align: left;
}

#emailInput, #passwordInput{
    width: 95%;
    height: 25px;
    font-size: medium;
    margin-top: 8px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(248, 237, 237);;
}

#emailInput:hover, #passwordInput:hover{
    background-color: rgb(200, 200, 243)
}

/* Media Query for MEDIUM devices */
@media only screen and (min-width: 769px) and (max-width: 1300px) {
    #myForm{
        width: 35%;
    }
}

/* Media Query for MEDIUM devices */
@media only screen and (max-width: 768px) {
    #main{
        margin: auto;
        padding: 0;
        align-content: center;
        width: 100%;
    }
    
    #myForm{
        margin: auto;
        width: 55%;
    }
}

/* Media Query for SMALL devices */
@media only screen and (max-width: 550px) {
    #myForm{
        margin: auto;
        width: 70%;
    }
}