#navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40PX;
}

#navbar div{
    align-items: center;
}

#logo{
    width: 10%;
}

#logo img{
    width: 100%;
}

#navbar > div:nth-child(2){
    width: 45%;
    display: flex;
    justify-content: space-around;
}

#navbar > div:nth-child(3){
    width: 30%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#navbar button{
    width: 40%;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bolder;
}

#navbar button:nth-child(1):hover{
    background-color: gray;
    transition: all 0.5s ease-in;
}

#navbar button:nth-child(1){
    background-color: black;
    color: white; 
}

#myForm{
    margin: auto;
    width: 30%;
    justify-content: center;
}

#loginBtn{
    width: 80px;
    background-color: blue;
    color: white;
    height: 30px;
    border-radius: 10px;
}


#notify{
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.label{
    margin-bottom: 50px;
    font-weight: bolder;
    text-align: left;
}

#email, #password{
    width: 95%;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: rgb(248, 237, 237);;
}

#email:hover, #password:hover{
    background-color: pink
}
